In [30]:
import pandas as pd
import numpy as np
ratings=pd.read_csv("C:/Users/Harika/Downloads/ratings.csv")
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [31]:
x=ratings["userId"].unique()

In [21]:
x

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
      dtype=int64)

In [32]:
len(x)

610

In [35]:
movies=pd.read_csv("C:/Users/Harika/Documents/movies.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [37]:
tags=pd.read_csv("C:/Users/Harika/Documents/tags.csv")
tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [47]:
data=pd.merge(ratings,movies)
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [54]:
r=data["rating"].value_counts()
r
num=r.index
q=r.values
import plotly.express as px
fig=px.pie(data,values=q,names=num)
fig.show()

In [113]:
data2=data.query("rating==5")
print(data2["title"].value_counts().head(50))

title
Shawshank Redemption, The (1994)                                                  153
Pulp Fiction (1994)                                                               123
Forrest Gump (1994)                                                               116
Matrix, The (1999)                                                                109
Star Wars: Episode IV - A New Hope (1977)                                         104
Silence of the Lambs, The (1991)                                                   92
Schindler's List (1993)                                                            92
Godfather, The (1972)                                                              88
Fight Club (1999)                                                                  81
Braveheart (1995)                                                                  80
Star Wars: Episode V - The Empire Strikes Back (1980)                              80
Usual Suspects, The (1995)                                                         71
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)     69
American Beauty (1999)                                                             65
Star Wars: Episode VI - Return of the Jedi (1983)                                  65
Terminator 2: Judgment Day (1991)                                                  64
Lord of the Rings: The Fellowship of the Ring, The (2001)                          62
Saving Private Ryan (1998)                                                         61
Fargo (1996)                                                                       57
Princess Bride, The (1987)                                                         55
Lord of the Rings: The Return of the King, The (2003)                              53
Seven (a.k.a. Se7en) (1995)                                                        52
Monty Python and the Holy Grail (1975)                                             51
Back to the Future (1985)                                                          49
Lord of the Rings: The Two Towers, The (2002)                                      49
Dark Knight, The (2008)                                                            49
Godfather: Part II, The (1974)                                                     48
Toy Story (1995)                                                                   47
Blade Runner (1982)                                                                46
Fugitive, The (1993)                                                               46
Apocalypse Now (1979)                                                              45
Apollo 13 (1995)                                                                   45
Reservoir Dogs (1992)                                                              45
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                          45
Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) (2001)                               43
Gladiator (2000)                                                                   43
Memento (2000)                                                                     42
Inception (2010)                                                                   41
Casablanca (1942)                                                                  41
One Flew Over the Cuckoo's Nest (1975)                                             41
Goodfellas (1990)                                                                  40
Jurassic Park (1993)                                                               40
Lion King, The (1994)                                                              40
Aliens (1986)                                                                      38
Clockwork Orange, A (1971)                                                         36
Alien (1979)                                                                       36
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)        36
Sixth Sense, The (1999)                                                            36
Life Is Beautiful (La Vita Ã¨ bella) (1997)                                         35
Dances with Wolves (1990)                                                          35
Name: count, dtype: int64

In [107]:
merge2=pd.merge(movies,tags)
merge2

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,fun,1525286013
3,2,Jumanji (1995),Adventure|Children|Fantasy,62,fantasy,1528843929
4,2,Jumanji (1995),Adventure|Children|Fantasy,62,magic board game,1528843932
...,...,...,...,...,...,...
3678,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,62,star wars,1528934552
3679,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,anime,1537098582
3680,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,comedy,1537098587
3681,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,gintama,1537098603
3682,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,remaster,1537098592

In [72]:
a=print(data['title'])
a

0                         Toy Story (1995)
1                         Toy Story (1995)
2                         Toy Story (1995)
3                         Toy Story (1995)
4                         Toy Story (1995)
                        ...
100831                    Bloodmoon (1997)
100832    Sympathy for the Underdog (1971)
100833                       Hazard (2005)
100834                  Blair Witch (2016)
100835                           31 (2016)
Name: title, Length: 100836, dtype: object

In [79]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [98]:
group=ratings.groupby(['rating','movieId']).size()
group

rating  movieId
0.5     1          1
        2          1
        3          1
        5          1
        10         1
                  ..
5.0     184245     1
        185135     1
        187593     4
        187595     1
        187717     1
Length: 30417, dtype: int64

In [86]:
b=ratings["rating"]
b

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100836, dtype: float64

In [88]:
b.count()

100836

In [109]:
b.mean()

3.501556983616962

In [100]:
group

rating  movieId
0.5     1          1
        2          1
        3          1
        5          1
        10         1
                  ..
5.0     184245     1
        185135     1
        187593     4
        187595     1
        187717     1
Length: 30417, dtype: int64

In [103]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [105]:
join=pd.merge(movies,group,left_on='id',right_on='rating',how='inner')

ValueError: Cannot merge a Series without a name